<launch>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$HOME/dataMPC_parking/bag_processing/bag_data/barc_run_strategy_obca_2020-10-23-11-56-32_exp_6.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/overhead_camera/image_rect_color"/>
  </node>
</launch>